{% extends "html/template.html" %}

{% block scripts %} {% endblock %}
{% block content %}
   
<h3> Author: Pauli Sundberg </h3>
<p> Contact: susundberg email gmail.com  <br>
Source code can be found from <a href="https://github.com/susundberg/matkatoistin"> github </a> 
Possible, thanks to:
<ul>
 <li> <a href="http://http://www.python.org/.com/"> python </a>
 <li> <a href="http://jinja.pocoo.org/"> jinja </a>
 <li> <a href="https://appengine.google.com"> Google appengine </a>
 <li> <a href="http://code.google.com/p/httplib2/"> httplib2 </a> </li>
 <li> <a href="https://github.com/simplegeo/python-oauth2"> python-oauth2 </a> </li>
 <li> <a href="http://stackoverflow.com/"> stackoverflow </a>
 
</ul>

</p>



    
{% endblock %}
