{% extends "html/template.html" %}

{% block scripts %} {% endblock %}
{% block content %}
<p> 
Source code can be found from <a href="https://github.com/susundberg/matkatoistin"> github. </a> 
<br>
<br>
This is simple service for adding multiple entries with same information except date to <a href="http://heiaheia.com"> heiaheia.com </a>.
Basically select the dates (say this week mon,tue and fri) and then fill up the information for the exercize, say bicycling from home to work and back, 20km and 45min each time.
This service would not be possible without :
<ul>
 <li> <a href="http://heiaheia.com/"> Heiaheia</a>
 <li> <a href="https://appengine.google.com"> Google appengine </a>
 <li> <a href="http://www.python.org/"> Python </a>
 <li> <a href="http://jinja.pocoo.org/"> Jinja </a>
 <li> <a href="http://code.google.com/p/httplib2/"> httplib2 </a> </li>
 <li> <a href="https://github.com/simplegeo/python-oauth2"> python-oauth2 </a> </li>
 <li> <a href="http://stackoverflow.com/"> Stackoverflow </a>
 
</ul>
<br>
Author: Pauli Sundberg, susundberg email gmail.com. 
<br>


</p>



    
{% endblock %}
